
body {
    background-color: black;
    font-family: 'Bellota Text', cursive;
}

.navbar-light .navbar-brand {
    color: white;
    }

    .navbar-light .navbar-brand:hover {
        color: #e4c4ff;
        }

.navbar-light .navbar-nav .nav-link {
    color: white;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: #e4c4ff;
        }

.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
    color: white;
    }
    

h1 {
color: #e4c4ff;
}

h2 {
    color: #e4c4ff;
    margin-bottom: 30px;
}

p { 
    color: white;
}

.btn-primary {
    color: #000;
    background-color: #fff;
    border-color: #000;
    }

.btn-primary:hover {
    color: #fff;
    background-color: #e4c4ff;
    border-color: #e4c4ff;
    }

.btn-outline-primary {
    color: #fff;
    border-color: #fff;
}

.btn-outline-primary:hover {
    color: #e4c4ff;
    background-color: #000;
    border-color: #e4c4ff;
}

a {
    color: #fff;
    text-decoration: #fff;
    background-color: transparent;
    }

a:hover {
    color: #e4c4ff;
    text-decoration: underline;
   }

   .lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: white;
    }

    .card {
        border-bottom-right-radius: 2.50rem;
        border-bottom-left-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        background-color: #000; 
        border-color: #fff;
        border-image-repeat: stretch;
        border: 5px solid #fff(0, 0, 0, 0);
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%); 
        height: 200px;
        width: 248px;
    }

    .card:hover {
        -webkit-transform: scale(1.1);
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%); 
        border-color: #e4c4ff;
        }
   
    .row {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .card-img, .card-img-top {
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
        width: 248px; 
        height: 186px;
        }

    img {
    vertical-align: middle;
    border-style: none;
        }

    figure img {
    width: 100%;
    }

    figcaption {
    color: #fff;
    }

