
body {
    background-color: #CEB39D;
    font-family: 'Bellota Text', cursive;
}

.navbar-light .navbar-brand {
    color: #fff;
    }

.navbar-light .navbar-brand:hover {
        color: #254A2F;
    }

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    }

.navbar-light .navbar-nav .nav-link:hover {
    color: #254A2F;
    }

.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
    color: #fff;
    }
    

h1 {
    color: #254A2F;
}

h2 {
    color: #254A2F;
}

p { 
    color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #E5D1C4;
    border-color: #E5D1C4;
    }

.btn-primary:hover {
    color: #CEB39D;
    background-color: #fff;
    border-color: #CEB39D;
    }

.btn-outline-primary {
    color: #fff;
    background-color: #CEB39D;
    border-color: #E5D1C4;
}

.btn-outline-primary:hover {
    color: #CEB39D;
    background-color: #fff;
    border-color: #CEB39D;
}

a {
    color: #fff;
    text-decoration: #fff;
    background-color: transparent;
    }

a:hover {
    color: #254A2F;
    text-decoration: underline;
   }

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
    }

.card {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #E5D1C4; 
    border-image-repeat: stretch;
    border: 10px solid #none(0, 0, 0, 0);
    height: 200px;
    width: 248px;
    margin-top: 20px;
    }

    .card:hover {
        -webkit-transform: scale(1.1);
        border-color: #766049;
        }


    .card-img, .card-img-top {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        width: auto; 
        height: 186px;
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%); 
        }

    .card-img, .card-img-top:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%); 
        }

    img {
    vertical-align: middle;
    border-style: none;
        }


    figcaption {
    color: #254A2F;
    }

    .rounded-circle {
        border-radius: 0%!important;
        }

        .border-top {
            border-top: 1px solid #dee2e6!important;
            margin: 20px;
            }

            .row.border-top {
                margin-top: 50px;
                margin-bottom: 50px;
                }

    .navbar {
            border-bottom: 1px solid #dee2e6!important;
            margin: 20px;
            }
    .energiemeter img { 
        width: 30%;
        height: 231px;
        margin: 10px; 
        float: right;
    }

    .game img { 
        width: 30%; 
        height: 231px;
        margin: 10px; 
        float: left;
    }

    .chakra img { 
        width: 30%; 
        height: 231px;
        margin: 10px; 
        float: center; 
    }

    .mockup img {
        width: 100%;
        margin-top: 20px;
        height: 450px;
        object-fit: cover;
    }

    .vkwmockup img {
        width: 100%;
        margin-top: 20px;
        height: 450px;
        object-fit: cover;
    }

    .nrcmockup img {
        width: 100%;
        margin-top: 20px;
        height: 400px;
        object-fit: cover;
    }

    .politiemockup img {
        width: 100%;
        margin-top: 20px; 
        height: 530px;
        object-fit: cover;
    }

    .flyer img { 
        width: 30%;
        margin: 10px; 
        float: right;
    }

    .laddering img { 
        width: 30%;
        margin-left: 10px; 
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        float: right;
    }

    .veganweek img { 
        width: 30%;
        margin-right: 10px; 
        margin-left: 10px;
        margin-bottom: 50px;
        margin-top: 10px;
        float: right;
    }

    .sprint1 img {
        position: relative;
        width: 30%;
        margin: 10px;
        float: right;
    }

    .sprint2 img { 
        position: relative;
        width: 30%;
        margin: 10px;
        float: right;
    }

    .proceskaart img { 
        width: 30%;
        margin: 10px;
        float: right;
    }

    .personapolitie img {
        width: 30%;
        margin: 10px;
        float: left; 
    }

    .storyboardpolitie img { 
        width: 30%;
        margin: 10px;
        float: right;
    }

    .prototypepolitie img { 
        width: 100%;
        margin: 10px;
        float: center;
    }

    .skills img {
        width: 40%;
        margin: 10px;
        float: right;
    }